    <!-- CONTENIDO PRINCIPAL -->
    <div class="container-fluid">
        <div id="home" class="row align-items-center hero scroll_section">
            <div class="col-lg-3 offset-lg-2">
                <p>Bajada</p>
                <h1>Titulo Principal</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt at eligendi non voluptate
                    voluptatem dicta quisquam quod voluptates. Facilis, quam iure? Impedit tempore non vitae, fuga
                    facilis quae rem facere.</p>
            </div>
        </div>
    </div>
    <!-- FIN CONTENIDO PRINCIPAL -->

    <!-- INICIO NOVEDADES -->
    <div class="row my-6">

        <div id="novedades" class="col-md-3 offset-md-2 scroll_sections" style="margin-top: 15px;">
            <h2>Novedades</h2>
            <ul class="lista-novedades">
                {{#each novedades}}
                <li><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#Modal{{id}}"><img src="images/novedades01.jpg"
                            alt="">{{titulo}}</a></li>
                {{/each}}
                {{!-- <li><a href="#"><img src="/images/novedades01.jpg" alt="">Nuevas recetas 2</a></li>
                <li><a href="#"><img src="/images/novedades01.jpg" alt="">Nuevas recetas 3</a></li>
                <li><a href="#"><img src="/images/novedades01.jpg" alt="">Nuevas recetas 4</a></li>
                <li><a href="#"><img src="/images/novedades01.jpg" alt="">Nuevas recetas 5</a></li> --}}
            </ul>
        </div>
        <!--  FIN NOVEDADES -->
        <!-- INICIO TESTIMONIOS -->
        <div class="col-md-3 my-3 offset-md-2">
            <h2 class="text-center">Recetas</h2>
            <div class="rounded py-5 testimonios" style="display: flex;">
                <div class="col-5">
                    <div id="list-example" class="list-group">
                        <a class="list-group-item list-group-item-action" href="#list-item-1">Nuevas recetas 1</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-2">Nuevas recetas 2</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-3">Nuevas recetas 3</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-4">Nuevas recetas 4</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-5">Nuevas recetas 5</a>
                    </div>
                </div>
                <div class="scrollp">
                    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                        class="scrollspy-example" tabindex="0">
                        <h4 id="list-item-1">Nuevas recetas 1</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ea vel tempore id
                            quis aspernatur eligendi pariatur repellendus neque nihil! Itaque sequi sunt ipsum
                            blanditiis beatae in minus mollitia quod!</p>
                        <h4 id="list-item-2">Nuevas recetas 2</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quae aliquid voluptates
                            labore asperiores dolorum ullam reiciendis accusantium harum iusto. Natus temporibus eum
                            recusandae quibusdam distinctio minima at molestias ipsam.</p>
                        <h4 id="list-item-3">Nuevas recetas 3</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga labore, beatae aliquam hic
                            ullam, consectetur dolorem ex unde porro architecto, illo laboriosam ipsam deleniti
                            minima autem aut sed nemo aperiam!</p>
                        <h4 id="list-item-4">Nuevas recetas 4</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia velit provident
                            consequuntur quod explicabo at quos quam ipsa! Sequi amet nihil enim asperiores totam
                            iste sunt doloribus dolorem. Similique, sunt.</p>
                        <h4 id="list-item-5">Nuevas recetas 5</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A asperiores quasi similique
                            voluptatum, necessitatibus exercitationem eos aliquam praesentium consectetur placeat
                            libero obcaecati rem sequi ut vitae corporis quae, delectus blanditiis.</p>
                    </div>
                </div>
            </div>
        </div><!-- FIN TESTIMONIOS -->
    </div>
    <!--  CIERRA SECCION DIV -->
    <!-- INICIO MODAL -->
    {{#each novedades}}
    <div class="modal fade" id="Modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{titulo}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>{{subtitulo}}</h6>
                    <p>{{cuerpo}}</p>
                </div>
                {{!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar cambios</button>
                </div> --}}
            </div>
        </div>
    </div>
    {{/each}}
    <!-- FIN MODAL -->

    <!-- INICIO HISTORIAS -->
    <div id="historia" class="row align-items-center py-4 scroll_section">
        <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
            <img src="/images/historia_1.jpg" alt="historia 1" class="img-fluid">
        </div>
        <div class="col-lg-2 col-md-3 d-none d-sm-block">
            <img src="/images/historia_2.jpg" alt="historia 2" class="img-fluid">
        </div>
        <div class="col-12 d-sm-none">
            <img src="/images/historia_3.jpg" alt="historia 2" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-sm-0 tercerimagen">
            <h2>Historia</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto aliquid impedit delectus ipsa expedita
                dolore sint vitae deserunt, temporibus repudiandae praesentium, et incidunt culpa minus facere quae
                dignissimos modi tenetur?</p>
        </div>
    </div>
    <!-- FIN HISTORIAS -->

    <!-- INICIO GRID CARDS -->
    <div id="nosotros" class="align-items-stretch my-3 staff py-4 scroll_section">
        <div class="col-lg-8 offset-lg-2">
            <h2>Nosotros</h2>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card">
                        <img src="/images/nosotros01.jpg" alt="Diana Reyes" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Diana Reyes</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam minus, ea
                            sint unde debitis, similique necessitatibus voluptates dicta labore ipsum deserunt, modi
                            doloribus enim illum rem nihil! Laborum, odit nemo.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/nosotros02.jpg" alt="Diana Reyes" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Juan Gomez</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam minus, ea
                            sint unde debitis, similique necessitatibus voluptates dicta labore ipsum deserunt, modi
                            doloribus enim illum rem nihil! Laborum, odit nemo.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/nosotros03.jpg" alt="Diana Reyes" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Roberto Zavala</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam minus, ea
                            sint unde debitis, similique necessitatibus voluptates dicta labore ipsum deserunt, modi
                            doloribus enim illum rem nihil! Laborum, odit nemo.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/nosotros04.jpg" alt="Diana Reyes" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Luciano Figuero</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam minus, ea
                            sint unde debitis, similique necessitatibus voluptates dicta labore ipsum deserunt, modi
                            doloribus enim illum rem nihil! Laborum, odit nemo.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- FIN GRID CARDS -->

    <!-- INICIO CONOCENOS -->
    <div id="conocenos" class="row py-4 scroll_section">

        <div id="visitanos" class="col-md-4 offset-md-2">
            <h2>Visitanos</h2>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.2185680295775!2d-58.422641223878955!3d-34.598634222956214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca7cd54f107b%3A0x88bd8fe0e0b6e3a6!2sCentro%20de%20e-Learning%20UTN%20BA!5e0!3m2!1ses!2sar!4v1727119069696!5m2!1ses!2sar"></iframe>
            </div>
        </div>
        <!-- FIN VISITANOS -->



        <!-- INICIO FORMULARIO -->
        <div class="col-md-4 mt-4 mt-sm-0">
            <h2>Contactanos</h2>
            <form class="row g-3" action="/" method="post">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="col-md-6">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido">
                </div>
                <div class="col-md-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="ingrese@email.com">
                </div>
                <div class="col-md-12">
                    <label for="tel" class="form-label">Tel</label>
                    <input type="text" class="form-control" id="tel" name="tel" placeholder="...">
                </div>
                <div class="col-md-12">
                    <!-- <label for="mensaje" class="form-label">Mensaje</label> -->
                    <textarea name="mensaje" id="mensaje" name="mensaje" placeholder="mensaje"></textarea>  
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </form>
             {{message}}
        </div>
        <!-- FIN FORMULARIO -->
    </div>
    <!-- FIN CONOCENOS -->
