<link rel="stylesheet" href="/stylesheets/inventario.css">




<div class="container" class="caja">
    {{!-- fila 1 --}}
    <div class="row">
        <div class="col">
            <p class="text-center saludo">
                <span>Hola {{usuario}}!</span>
            </p>
    </div>
    </div>
    <h1 class="text-center">Invetario mercaderia</h1>
    {{!-- fin fila 1 --}}
    {{!-- INICIO fila 2 --}}
    <div class="row titulo">
        <div class="col-8">
            <h3>Listado de materiales</h3>
        </div>
        <div class="col-4">
            <a href="/admin/recetario/inventario/agregar" class="btn btn-success nuevo"> <i class="fa fa-plus">
                </i>Nuevo</a>
        </div>
    </div>
    {{!-- fin fila 2 --}}

    {{!-- Inicio form --}}
    {{!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Modificaciones
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="modificar" class="form" action="/inventario" method="post">
                        <div class="mb-3">
                            <label for="item-name" class="col-form-label">nombre del articulo: </label>
                            <input type="text" class="form-control" id="item-name" name="itemname" required>
                        </div>
                        <div class="mb-3">
                            <label for="item-cantidad" class="col-form-label">cantidad:</label>
                            <input class="form-control" type="number" id="item-cantidad" name="itemcantidad" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Omitir</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div> --}}
    {{!-- fin form --}}

    {{!-- INICIO fila 3 --}}
    <div class="row">
        <div class="col">
            <table class="table table-bordered-primary">
                <thead class="table-primary">
                    <tr>
                        <th scope="col" class="text-center">indice</th>
                        <th scope="col" class="text-center">Usuario</th>
                        <th scope="col" class="text-center">Item</th>
                        <th scope="col" class="text-center">Cantidad</th>
                        <th scope="col" class="text-center">Fecha</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-info">
                    {{#each inventario}}
                    <tr>
                        <th scope="row" class="text-center">{{inventario_id}}</th>
                        <td class="text-center">{{usuario}}</td>
                        <td class="text-center">{{item_nombre}}</td>
                        <td class="text-center unidades">{{cantidad}}</td>
                        <td class="text-center">{{fecha}}</td>
                        <td class="text-end">
                            <a href="/admin/recetario/inventario/modificar/{{inventario_id}}" title="modificar"
                                class="btn btn-sm btn-secondary modificar">modificar
                                <i class="fa fa-trash"></i>
                            </a>

                            <a href="/admin/recetario/inventario/eliminar/{{inventario_id}}" title="Eliminar"
                                class="btn btn-sm btn-secondary eliminar">eliminar
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{!-- FIN fila 3 --}}
    <p class="text-end"><a href="/admin/login/logout" class="btn btn-danger">Cerrar sesión
            <i class="fa fa-sign-out-alt"></i>
        </a></p>
</div>