<link rel="stylesheet" href="/stylesheets/inventario.css">


<div class="container" class="caja">
    {{!-- fila 1 --}}
    <div class="row">
        <div class="col">
            <p class="text-center saludo">
                <span>Hola {{usuario}}!</span>
            </p>
        </div>
    </div>
    <h1 class="text-center">Tus recetas</h1>
    {{!-- fin fila 1 --}}
    {{!-- INICIO fila 2 --}}
    <div class="row titulo">
        <div class="col-8">
            <h3>Lista de recetas</h3>
        </div>
        <div class="col-4">
            <a href="/admin/recetario/recetas/agregarReceta" class="btn btn-success nuevo"> <i class="fa fa-plus">
                </i>Nuevo</a>
        </div>
        <div class="col-12 text-right">
            <form class="form-inline my-2 my-lg-0" action="/admin/recetario/recetas" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="q"
                    value="{{q}}">
                <button class="btn btn-secondary my-2 my-sm-0" id="boton" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
    {{!-- fin fila 2 --}}
    {{#if is_search}}
        {{#unless novedades.length}}
            No se encontraron resultados para "<strong>{{q}}</strong>"
        {{/unless}}
    {{/if}}
    {{!-- INICIO fila 3 --}}
    <div class="row">
        <div class="col">
            <table class="table table-bordered-primary">
                <thead class="table-primary">
                    <tr>
                        <th scope="col" class="text-center">receta</th>
                        <th scope="col" class="text-center">Ingredientes</th>
                        <th scope="col" class="text-center">procedimiento</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-info">
                    {{#each recetas}}
                    <tr>
                        <td class="text-center">{{receta_nombre}}</td>
                        <td class="text-center">{{ingredientes_cant}}{{!-- <a href="/admin/recetario/recetas/ingredientesR/{{receta_id}}" title="Agrega"
                                class="btn btn-sm btn-secondary eliminar">Agr-Mod<i class="fa fa-trash"></i></a>  --}}
                        </td>
                        <td class="text-center scroll">{{procedimiento}}</td>
                        <td class="text-end">
                            <a href="/admin/recetario/recetas/modificarR/{{receta_id}}" title="modificar"
                                class="btn btn-sm btn-secondary modificar">modificar
                                <i class="fa fa-trash"></i>
                            </a>

                            <a href="/admin/recetario/recetas/eliminar/{{receta_id}}" title="Eliminar"
                                class="btn btn-sm btn-secondary eliminar">eliminar
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{#if error}}
            <h5>{{message}}</h5>
            {{/if}}
        </div>
    </div>
    {{!-- FIN fila 3 --}}
    <p class="text-end"><a href="/admin/login/logout" class="btn btn-danger">Cerrar sesión
            <i class="fa fa-sign-out-alt"></i>
        </a></p>
</div>